<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS JumpStart</title>
</head>
<body ng-init="people=[{name:'Moussi',city:'Tunis',joined : '2000-12-02', orderTotal :9.9956},{name:'Aymen',city:'Paris',joined : '2000-12-02', orderTotal :9.9956}]">

<ul>
    <li ng-repeat="person in people">
        {{person.name}}
    </li>
</ul>

<table border = "1">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Joined</th>
        <th>Custom Joined</th>
        <th>Custom Joined2</th>
        <th>OrderTotal</th>
        
    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.name | uppercase}}</td>
        <td>{{person.city}}</td>
        <td>{{person.joined | date:'yyyy-MM'}}</td>
         <td>{{person.joined | date:'longDate'}}</td>
          <td>{{person.joined | date:'medium'}}</td>
        <td>{{person.orderTotal | currency : '$'}}</td>
        


    </tr>
</table>
<script src="angular.js"></script>
</body>
</html>